/*=Footer
---------------------------------------------------------------------*/
.site-footer {
  position: relative;
  display: flex;
  background-color: $black;
  padding: 1rem 3rem;
  color: $light-gray;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
